.App {
  background-color: white;
}

.container {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 1em;
  border-radius: 5px;
  box-shadow:
  0px 2.5px 3px rgba(0, 0, 0, 0.03),
  0px 20px 24px rgba(0, 0, 0, 0.06);

}

.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.container h1 {
  color: rgb(170, 168, 168);
  font-weight: normal;
  margin: 0;
}

.container small {
  display: block;
  margin: 0;
  margin-bottom: 5px;
  padding: 0.5em 0;
  border-bottom: 2px solid rgb(160, 159, 159);
}

.checkbox-container {
  display: block;
  padding: 0.5em 0;
  font-size: 20px;
  border-bottom: 1px solid rgb(223, 217, 217);
}

.checkbox-container .checkmark {
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* .checkbox-container .checkmark:checked {
  background-color: #2196F3;
} */

.checkbox-container label {
  margin-left: 10px;
}

.container .button {
  margin-top: 15px;
  background-color: #00BFFF;
  border: none;
  color: white;
  width: 100%;
  height: 50px;
  cursor: pointer;
}

.container .button:active {
  background-color: red;
}

/* Tugas 11 */
.crud-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.crud-container h1{
  margin: 20px 0;
}

.nav-btn {
  margin-top: 40px;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

#table1 {
  border: 1px solid gray;
  padding: 1em;
  border-spacing: 0;
  border-radius: 5px;
}

/* #table1 td,th {
  text-align: start;
  padding: 0.7em 1.5em;
  border-bottom: 1px solid gray;
}

#table1 td button {
  margin-right: 5px;
} */

.form-buah {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em 12em;
  margin-bottom: 50px;
}

.form-buah label{
  font-weight: bold;
}

.form-buah button{
  place-self: end;
  grid-column: 2;
}

/* Navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 2px solid rgb(202, 202, 202);
}

.light-nav{
  background-color: white;
}

.dark-nav{
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.light-nav a {
  color: gray;
}

.dark-nav a {
  color: white;
}

.light-nav a:hover {
  background-color: rgb(224, 224, 224);
}

.dark-nav a:hover {
  background-color: #111;
}

/* Tugas 14 */
.create-mahasiswa-btn {
  place-self: start;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 50px;
}

.create-mahasiswa-btn:hover {
  background-color: #2a962e;
}

.create-mahasiswa-btn:active {
  background-color: #4CAF50;
}

/* Tugas 15 */
.alert-left {
  place-self: start;
  position: fixed;
  bottom: 60px;
  left: 40px;
}